# ignore the downloaded selenium server, config and the selenium
# temporary directory (which starts with a quote, do not ask why...)
/.idea
/.editorconfig
/composer.lock
/app/bin
/app/Data
/app/DistributionPackages
/app/Packages
/app/Web
/app/.editorconfig
/app/.gitignore
/app/DistributionUpgrader.phar
/app/flow
/app/flow.bat
/app/README.md
/app/Readme.rst
/app/Upgrading.rst
