# ignore the downloaded selenium server, config and the selenium
# temporary directory (which starts with a quote, do not ask why...)
/.idea
/.editorconfig
/composer.lock
/app
!/app/Configuration
!/app/composer.json
!/app/composer.lock